{
  "loggers": {
    "type": "{{ log_dir }}/elliptics.log",
    "level": 4
  },
  "options": {
    "join": 1,
    "group": {{ group }},
    "remote": [
      {% for host in groups['servers'] %}
        "{{ host }}:1025:2"
        {% if not loop.last %}
          ,
        {% endif %}
      {% endfor %}
    ],
    "address": [
      "{{ ansible_eth0.ipv4.address }}:1025:2"
    ],
    "io_thread_num": 8,
    "nonblocking_io_thread_num": 8,
    "net_thread_num": 4,
    "daemon": 1,
    "auth_cookie": "ellicoca",
    "cache_size": 20971520
  },
  "backends": [
    {
      "type": "blob",
      "history": "{{ hist_dir }}",
      "data": "{{ data_dir }}/data",
      {% if cocaine_config is defined %}
        "srw_config": "{{ cocaine_config }}",
      {% endif %}
      "blob_size": "{{ blob_size }}"
    }
  ]
}
