{
  "logger": {
    "level": "debug",
    "frontends": [
      {
	"formatter": {
	  "type": "string",
	  "pattern": "%(timestamp)s %(request_id)s/%(lwp)s/%(pid)s %(severity)s: %(message)s %(...L)s"
	},
	"sink": {
	  "type": "files",
	  "path": "{{ elliptics_dir }}/{{ log_dir }}/{{ item }}/elliptics.log",
	  "autoflush": true
	}
      }
    ]
  },
  "options": {
    "join": true,
    "remote": [
      {% for host in groups['servers'] %}
        {% for n in nodes %}
          "{{ host }}:{{ 1025 + n - 1 }}:2"
          {% if not loop.last %}
          ,
          {% endif %}
        {% endfor %}
        {% if not loop.last %}
          ,
        {% endif %}
      {% endfor %}
    ],
    "address": [
      "{{ ansible_eth0.ipv4.address }}:{{ 1025 + item - 1 }}:2"
    ],
    "wait_timeout": 30,
    "check_timeout": 50,
    "io_thread_num": 8,
    "nonblocking_io_thread_num": 8,
    "net_thread_num": 4,
    "daemon": true,
    "auth_cookie": "ellicoca",
    "cache": {
      "size": 0
    }
  },
  "backends": [
    {
      "type": "blob",
      "group": {{ group }},
      "history": "{{ elliptics_dir }}/{{ hist_dir }}/{{ item }}",
      "data": "{{ elliptics_dir }}/{{ data_dir }}/{{ item }}/data",
      "sync": 300,
      "blob_size": "20G",
      "blob_flags": 64,
      "records_in_blob": 10000000
    }
  ]
}
